{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit footwear</h1>

    {{ form_start(form) }}

    {{ form_row(form.brand) }}
    {{ form_row(form.size) }}
    {{ form_row(form.price) }}
    {{ form_row(form.save, {'label': 'Save'}) }}

    {{ form_end(form) }}


{% endblock %}
